In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ruta    =   '2.Project.csv'
df  =   pd.read_csv(ruta)

In [7]:
df.shape

(149116, 18)

In [6]:
df.head(2)

,transaction_id,transaction_date,transaction_time,store_id,store_location,product_id,transaction_qty,unit_price,Total_Bill,product_category,product_type,product_detail,Size,Month Name,Day Name,Hour,Month,Day of Week
0,114301,01-06-2023,11:33:29,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Thursday,11,6,3
1,115405,02-06-2023,11:18:24,3,Astoria,45,1,3.0,3.0,Tea,Brewed herbal tea,Peppermint,Large,June,Friday,11,6,4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   store_id          149116 non-null  int64
 4   store_location    149116 non-null  object
 5   product_id        149116 non-null  int64
 6   transaction_qty   149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   Total_Bill        149116 non-null  float64
 9   product_category  149116 non-null  object
 10  product_type      149116 non-null  object
 11  product_detail    149116 non-null  object
 12  Size              149116 non-null  object
 13  Month Name        149116 non-null  object
 14  Day Name          149116 non-null  object
 15  Hour              149116 non-null  int64
 16  Month             149116 non-null  int64
 17  Day of Week       149116 non-null  int64
dtypes: float64(2), int64(7), object(9)
memory usage: 20.5+ MB

In [4]:
df.nunique()

transaction_id      149116
transaction_date       181
transaction_time     25762
store_id                 3
store_location           3
product_id              80
transaction_qty          6
unit_price              41
Total_Bill              75
product_category         9
product_type            29
product_detail          45
Size                     4
Month Name               6
Day Name                 7
Hour                    15
Month                    6
Day of Week              7
dtype: int64

In [5]:
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
store_id            0
store_location      0
product_id          0
transaction_qty     0
unit_price          0
Total_Bill          0
product_category    0
product_type        0
product_detail      0
Size                0
Month Name          0
Day Name            0
Hour                0
Month               0
Day of Week         0
dtype: int64